{% extends "AetAnnuaireBundle::layout1.html.twig" %}
 {% block aet_annuaire_banner_title %}
     Reset password
 {% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block aet_annuaire_sub_body %}
<p>
    <p>
    <p>
<br/>
    <br/>
    <br/>
    <br/>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
    </p>
    </p>
{% endblock %}
