{% extends "AetAnnuaireBundle::layout1.html.twig" %}
 {% block aet_annuaire_banner_title %}
     Password already requested
 {% endblock %}


{% trans_default_domain 'FOSUserBundle' %}

{% block aet_annuaire_sub_body %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock  %}
