{% extends "::master.html.twig" %}

{% block aet_annuaire_banner_section %}

{#% if app.request.get('_route') != 'aet_annuaire_homepage' %#}

    <div class="page-title">
        <div class="row">
            <div class="small-12 large-6 column">
                <h1  class="animated flipInX"><i class="icon-lock"></i> {% block aet_annuaire_banner_title %}
                    {% endblock %}
                </h1>
            </div>
            <div class="small-12 large-6 column">
                <ul class="breadcrumbs right">
                    <li><a href="{{ path('aet_annuaire_homepage') }}">Home</a></li>
                    <li class="current"><a href="#"> {#% block aet_annuaire_banner_title %}
                            {% endblock %#} {{ block('aet_annuaire_banner_title') }}</a></li>
                </ul>
            </div>
        </div>
    </div>
{#% endif %#}

{% endblock %}

{% block aet_annuaire_body %}

    {% block aet_annuaire_sub_body %}
    {% endblock %}

{% endblock %}
