{% extends "::master.html.twig" %}


{% block aet_annuaire_body %}

    <h1 class="title2">Bienvenue sur l'Annuaire Web des AET !</h1>
    <br/>
    <br/>
   <h3> <p><strong>Veuillez vous identifier pour accéder au contenu du site</strong></p></h3>


{% endblock %}
