{% extends "AetAnnuaireBundle::layout1.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block aet_annuaire_sub_body %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock aet_annuaire_sub_body %}
