{% extends "::master.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block aet_annuaire_body %}
    <p>Vous recevrez un e-mail vous invitant à valider votre inscription. <br/>
        Vous devez cliquer sur le lien qui se trouve dans cet e-mail afin de procéder à la validation de votre inscription.
    </p>
{% endblock aet_annuaire_body %}
