.user_image_cell
{
    width: 107px;
}
.user_image{
    width: 100px;
    height: 100px;
    background-color: #aeaeae;
    margin-bottom: 5px;
    margin-right: 7px;
}

.user_image img{
    width: 100%;
    height: auto;
}

.user_list_count
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.user_sorting_area
{
    margin-top: 10px;
}
.user_sorting_area_title
{
    font-weight: bold;
}
.user_item{
    margin-bottom: 10px;
}

.user_miscellaneous_info_cell, .user_miscellaneous_info
{
    width:350px;
}

.aet_metadata
{
    font-weight: bold;
}

.aet_data
{
    font-weight: lighter;
}